.right {
    float: right;
}
.left {
    float: left;
}
.mgt10 {
    margin-top: 10px;
}
.mgb10 {
    margin-bottom: 10px;
}
.mgr10 {
    margin-right: 10px;
}
.mgl10 {
    margin-left: 10px;
}
.mgt20 {
    margin-top: 20px;
}
.mgb20 {
    margin-bottom: 20px;
}
.mgr20 {
    margin-right: 20px;
}
.mgl20 {
    margin-left: 20px;
}
.el-icon {
    cursor: pointer;
    font-size: 20px;
}
.el-popper {
   max-width: 300px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}