.right {
    float: right;
}
.left {
    float: left;
}
.mgt10 {
    margin-top: 10px;
}
.mgb10 {
    margin-bottom: 10px;
}
.mgr10 {
    margin-right: 10px;
}
.mgl10 {
    margin-left: 10px;
}
.mgt20 {
    margin-top: 20px;
}
.mgb20 {
    margin-bottom: 20px;
}
.mgr20 {
    margin-right: 20px;
}
.mgl20 {
    margin-left: 20px;
}